{% extends 'base.html' %} 
{% block title %}404. Если тут что-то было, теперь этого тут нет.{% endblock %}
{% block content %}
<main>
  <section class="container my-5">
    <div class="row">
      <div class="col-12 col-lg-7 my-5">
        <h1 class="mb-5">.... page not found (404)</h1>
        <p>
          <a href="{{ url_for('index_view') }}">Back</a>
        </p>
      </div>
      <div class="col-12 col-lg-5">
        <img class="img-fluid mx-auto d-block" src="№" alt="" />
      </div>
    </div>
  </section>
</main>
{% endblock %}