{% extends 'base.html' %}
{% block title %} Добавить мнение о фильме {% endblock %}
{% block content %}
<main>
  <section class="container my-5">
    <div class="row">
      <h1>Добавить статью</h1>
      <div class="col-12 col-lg-9">
        <div class="ArticleForm">
        <form method="POST" novalidate>
          {{ form.csrf_token }}
          {{ form.title(class="form-control form-control-lg py-3 mb-3", placeholder=form.title.label.text) }}
          <p>
            {% if form.title.errors %}
              {% for error in form.title.errors %}
                <span style="color: red">{{ error }}</span>
              {% endfor %}
            {% endif %}
          </p>
          {{ form.intro(class="form-control form-control-lg py-3 mb-3", placeholder=form.intro.label.text) }}
          <p></p>
          {{ form.prog_lang(class="form-control form-control-lg py-3 mb-3", placeholder=form.prog_lang.label.text) }}
          <p>
            {% if form.prog_lang.errors %}
              {% for error in form.prog_lang.errors %}
                <span style="color: red">{{ error }}</span>
              {% endfor %}
            {% endif %}
          </p>
          {{ form.text(class="form-control form-control-lg py-3 mb-3", placeholder=form.text.label.text, rows="3", cols="40")}}
          <p>
            {% if form.text.errors %}
              {% for error in form.text.errors %}
                <span style="color: red">{{ error }}</span>
              {% endfor %}
            {% endif %}
          </p>
          {{ form.submit(class="buttondetail px-5 py-3 btn") }}
        </form>
        {{ ckeditor.load(pkg_type="full") }}
        {{ ckeditor.config(name='text') }}
        <p class="py-3 mb-3">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            {% endif %}
          {% endwith %}
        </p>
      </div>
        </div>
        <div class="col-12 col-lg-3 my-3 text-center">
          {% if current_user.is_authenticated %}
          {% include "profile_sm.html" %}
        {% else %}
          {% include "login_sm.html" %}
        {% endif %}
      </div>
    </div>
  </section>
</main>
{% endblock %}