{% extends "base.html" %}
{% block title %} {{ article.intro }}{% endblock %}
{% block content %}
<main>
  <section class="container my-5">
    <div class="row">
      <div class="col-12 col-lg-9">
        <div class="">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
              <div class="notification is-danger">
                <p class="py-3 mb-3 text-danger">
                  {{ messages[0] }}
                </p>
               </div>
              {% endif %}
            {% endwith %}
              </div>
        <h2 class="d-flex flex-row justify-content-center">{{ article.title }}</h2>
        <div class="d-flex flex-row justify-content-center">
          <div class="p-2""><a class="nav-link" href="{{ url_for('auth.profile', username=article.author.username) }}">{{ article.author.username }}</a></div>
          <div class="p-2">{{ article.timestamp.date() }}</div>
          <div class="p-2">{{ article.prog_lang }}</div>
        </div>
          <p></p>
          <div class="text-block px-2 py-2">{{ article.text|safe }}</div>


          <div class="d-flex justify-content-left px-2 py-2">
            <ul class="nav nav-pills">
              <li class="nav-item pe-3">
                {% if article.author == current_user %}
                <a href="/articles/{{article.id}}/delete"><button class="buttondetail px-3 py-2 btn">Удалить</button>
                  </a>
                  {% endif %}
                  </li>
                  <li class="nav-item pe-3">
                  {% if article.author == current_user %}
                <a href="/articles/{{article.id}}/update"><button class="buttondetail px-3 py-2 btn">Редактировать</button>
                  </a>
                  {% endif %}
                  </li>

      </div>
      <div class="col-12 col-lg-3">
      </div>
    </div>
  </section>
</main>
{% endblock %}