{% extends "base.html" %}
{% block title %} Все статьи {%endblock %}
{% block content %}
<main>
  <section class="container my-5">
    <div class="row">
      <div class="col-12 col-lg-9">

        <!-- All article view block-->
          {% for items in article.items %}
          <h2>{{ items.title }}</h2>
          <div class="d-flex p-2 bd-highlight p-3 border">
            <a class="nav-link mx-1" href="/user/{{items.author.username}}">{{ items.author.username }}</a>
            {{ items.timestamp.date() }}</div>
            {% if items.intro %}
            <div class="d-flex p-2 bd-highlight p-3 px-4 border">{{ items.intro }}</div>
            {% endif%}
            <div class="d-flex p-2 bd-highlight p-3 border"><a href="/articles/{{items.id}}"><button class="buttondetail px-3 py-2 btn">Подробнее</button></a></p></div>
            <p></p>
            <!--<hr>-->
            {% endfor %}
        <!-- All article view end-->


        <!-- Pagination block-->
        <div class="text-center">
          <ul class="pagination pagination-lm">
           {% for page in article.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2 )%}
            {% if page %}
              {% if article.page == page %}
              <li class="page-item active"><a class="page-link active" href="">{{ page }}</a></li>
              {% else %}
              <li class="page-item"><a class="page-link" href="{{ url_for('index_view', page=page) }}">{{ page }}</a></li>
              {% endif %}
            {% else %}
              ...
            {% endif %}
          {% endfor %}
        </ul>
        </div>
        <!-- Pagination end-->


      </div>

      <!-- accaunt info block-->
      <div class="col-12 col-lg-3 my-3 text-center">
        {% if current_user.is_authenticated %}
          {% include "profile_sm.html" %}
        {% else %}
          {% include "login_sm.html" %}
        {% endif %}
      </div>
      <!-- account info end-->


  </section>
</main>
{% endblock %}