{% extends "base.html" %}
{% block title %} Редактировать статью {% endblock %}
{% block content %}
<main>
  <section class="container my-5">
    <div class="row">
      <h1>Редактировать статью</h1>
      <div class="col-12 col-lg-7">
        <div class="ArticleFormUpdate">
          <form method="POST" novalidate>
            {{ form.csrf_token }}
            {{ form.title(class="form-control form-control-lg py-3 mb-3", placeholder=article.title)}}
            <p>
              {% if form.title.errors %}
                {% for error in form.title.errors %}
                  <span style="color: red">{{ error }}</span>
                {% endfor %}
              {% endif %}
            </p>
            {{ form.intro(class="form-control form-control-lg py-3 mb-3", placeholder=article.intro) }}
            <p></p>
            {{ form.prog_lang(class="form-control form-control-lg py-3 mb-3", placeholder=article.prog_lang) }}
            <p>
              {% if form.prog_lang.errors %}
                {% for error in form.prog_lang.errors %}
                  <span style="color: red">{{ error }}</span>
                {% endfor %}
              {% endif %}
            </p>
            <span contenteditable="true">
            {{ form.text(class="form-control form-control-lg py-3 mb-3", placeholder=article.text , rows="3", cols="40")}}
          </span>
            <p>
              {% if form.text.errors %}
                {% for error in form.text.errors %}
                  <span style="color: red">{{ error }}</span>
                {% endfor %}
              {% endif %}
            </p>
            {{ form.submit(class="buttondetail px-5 py-3 btn") }}
          </form>
          {{ ckeditor.load(pkg_type="full") }}
          {{ ckeditor.config(name='body') }}

          </div>
        </div>
      <div class="col-12 col-lg-5">

      </div>
    </div>
  </section>
</main>
{% endblock %}