{% extends "base.html" %}
{% block title %} Все статьи {%endblock %}
{% block content %}
<main>
  <section class="container my-5">
    <div class="row">
      <div class="col-12 col-lg-9">

        <!-- All article view block-->
          {% for items in article.items %}
          <h3>{{ items.title }}</h3>
          <div class="d-flex align-items-centerbd-highlight p-3 border-0">
            <a class="nav-link mx-1 px-1" href="/user/{{items.author.username}}">
            {% if items.author.image_file != 'default.jpg' %}
            <img class="avatar_small"

                src="{{ url_for('static', filename='profile_pics/' + items.author.id|string + '/' + items.author.image_file) }}" alt="Avatar" />
            {% else %}
            <img class="avatar_small"
                src="{{ url_for('static', filename='profile_pics/default.jpg') }}" alt="Avatar" />
            {% endif %}
            {{ items.author.username }}</a>
            <a class="nav-link mx-1 px-1 py-3" href="/articles/{{items.id}}">{{ items.timestamp.strftime('%d.%h.%Y.%H:%M') }} {{ items.prog_lang }}</a></div>
            <div class="text-block px-2 py-2">{{ items.text|safe }}</div>
            {% if items.author == current_user %}
            <div class="d-flex justify-content-left px-2 py-2">
              <ul class="nav nav-pills">
                <li class="nav-item pe-3">
                  <a href="{{ url_for('article_delete', id=items.id) }}"><button class="buttondetail px-3 py-2 btn">Удалить</button>
                    </a>
                    </li>
                    <li class="nav-item pe-3">
                  <a href="{{ url_for('article_update', id=items.id) }}"><button class="buttondetail px-3 py-2 btn">Редактировать</button>
                    </a>
              </li>
              <li class="nav-item pe-3">
              <a href="/articles/{{items.id}}"><button class="buttondetail px-3 py-2 btn">Подробнее</button></a></li>
            </ul>
            </div>
            {% else %}
            <div class="d-flex p-2 bd-highlight p-3 border-0"><a href="/articles/{{items.id}}"><button class="buttondetail px-3 py-2 btn">Подробнее</button></a></div>
            <p></p>
            {% endif %}

            <!--<hr>-->
            {% endfor %}
        <!-- All article view end-->


        <!-- Pagination block-->
        <div class="text-center">
          <ul class="pagination pagination-lm">
           {% for page in article.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2 )%}
            {% if page %}
              {% if article.page == page %}
              <li class="page-item active"><a class="page-link active" href="">{{ page }}</a></li>
              {% else %}
              <li class="page-item"><a class="page-link" href="{{ url_for('index_view', page=page) }}">{{ page }}</a></li>
              {% endif %}
            {% else %}
              ...
            {% endif %}
          {% endfor %}
        </ul>
        </div>
        <!-- Pagination end-->


      </div>

      <!-- accaunt info block-->
      <div class="col-12 col-lg-3 my-3 text-center">
        {% if current_user.is_authenticated %}
          {% include "profile_sm.html" %}
        {% else %}
          {% include "login_sm.html" %}
        {% endif %}

      </div>
      <!-- account info end-->


  </section>
</main>
{% endblock %}