{% extends "base.html" %}
{% block title %} Профиль {{ user.username }} {%endblock %}
{% block content %}
<main>
  <section class="container my-5">
    <div class="row">
      <div class="col-12 col-lg-9">
          {% for items in article.items %}
            <h2 class="d-flex flex-row justify-content-center">{{ items.title }} {{ items.timestamp.strftime('%d.%h.%Y.%H:%M') }}</h2>
            <p class="px-2"></p>
            <div class="text-block px-2 py-2">{{ items.text|safe }}</div>
            {% if items.author == current_user %}
            <div class="d-flex justify-content-left px-2 py-2">
              <ul class="nav nav-pills">
                <li class="nav-item pe-3">
                  <a href="{{ url_for('article_delete', id=items.id) }}"><button class="buttondetail px-3 py-2 btn">Удалить</button>
                    </a>
                    </li>
                    <li class="nav-item pe-3">
                  <a href="{{ url_for('article_update', id=items.id) }}"><button class="buttondetail px-3 py-2 btn">Редактировать</button>
                    </a>
              </li>
            </div>
            {% endif %}
            <!--<hr>-->
            {% endfor %}

        <!-- Pagination block-->
        <div class="">

          <ul class="pagination pagination-ls px-2 py-2">
           {% for page in article.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2 )%}
            {% if page %}
              {% if article.page == page %}
              <li class="page-item active"><a class="page-link active" href="">{{ page }}</a></li>
              {% else %}
              <li class="page-item"><a class="page-link" href="{{ url_for('auth.profile', username=user.username, page=page) }}">{{ page }}</a></li>
              {% endif %}
            {% else %}
              ...
            {% endif %}
          {% endfor %}
                  </ul>
        </div>
        <!-- Pagination end-->


      </div>
      <div class="col-12 col-lg-3 text-center">
        <p class="mx-5"><a class="nav-link" href="{{ url_for('auth.profile', username=user.username) }}">Профиль {{ user.username }}</a></p>
        <p>Количество статей пользователя: {{ count }} <a class="mx-1 px-1" href="">Показать</a></p>
        {% if user.image_file != 'default.jpg' %}
          <img class="avatar"
          {{ url_for('static', filename='jquery.js') }}
              src="{{ url_for('static', filename='profile_pics/' + user_id + '/' + user.image_file) }}" alt="Avatar" />
          {% else %}
          <img class="avatar"
              src="{{ url_for('static', filename='profile_pics/default.jpg') }}" alt="Avatar" />
        {% endif %}


        {% if user == current_user %}
        <p class="py-2 d-flex flex-row justify-content-center">
          <a class="nav-link" href="">Обновить аккаунт</a></p>

        <form id="content" enctype="multipart/form-data" method="POST" novalidate>
          {{ form.csrf_token }}
            <div class="form-group">
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <div class=""><p class="py-3 mb-3 text-danger">
                    {{ messages[0] }}</p>
                  </div>
                {% endif %}
              {% endwith %}

              {% if form.username.errors %}
              {{ form.username(class='form-control is-invalid', placeholder="username") }}
            <div class="invalid-feedback">
              {% for errors in form.username.errors %}
              <span>{{ error }}</span>
              {% endfor %}
              </div>
              {% else %}
              <label for="exampleDropdownFormPassword">Username</label>
                  {{form.username(class='form-control', placeholder="username") }}
              {% endif %}

              {% if form.email.errors %}
              {{ form.email(class='form-control is-invalid', placeholder="Email") }}
            <div class="invalid-feedback">
              {% for errors in form.email.errors %}
              <span>{{ error }}</span>
              {% endfor %}
              </div>
              {% else %}
              <label for="exampleDropdownFormEmail">Email address</label>
                  {{form.email(class='form-control', placeholder="email") }}
              {% endif %}


            {% if form.image_file.errors %}
              {{ form.image_file(class='form-control is-invalid', placeholder="image_file") }}
            <div class="invalid-feedback">
              {% for errors in form.image_file.errors %}
              <span>{{ error }}</span>
              {% endfor %}
              </div>
              {% else %}
              <label for="exampleDropdownFormPassword">Image file</label>
                  {{form.image_file(class='form-control', placeholder="image_file") }}
              {% endif %}

          </div>
          <a class="" href="">
              <div class="my-1 form-group">{{ form.submit(class='btn btn-primary')}}</div>
          </a>
      </form>

      {% endif %}
      </div>
    </div>
  </section>
  </main>
{% endblock %}