{% extends "base.html" %}
{% block title %} Reset password {%endblock %}
{% block content %}
<main>
  <section class="container my-5">
    <div class="row">
        <h1 class="title">Reset password </h1>
        <div class="col-12 col-lg-7">
          <form class="px-4 py-3" method="POST" novalidate>
            {{ form.csrf_token }}
              <div class="form-group">
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <div class=""><p class="py-3 mb-3 text-danger">
                      {{ messages[0] }}</p>
                    </div>
                  {% endif %}
                {% endwith %}

                {% if form.email.errors %}
                {{ form.email(class='form-control is-invalid', placeholder="Email") }}
                <div class="invalid-feedback">
                {% for errors in form.email.errors %}
                <span>{{ error }}</span>
                {% endfor %}
                </div>
                {% else %}
                <label for="exampleDropdownFormEmail">Email address</label>
                    {{form.email(class='form-control', placeholder="email") }}
                {% endif %}


            </div>

            <a class="" href="">
                <div class="my-1 form-group">{{ form.submit(class='btn btn-primary')}}</div>
            </a>

        </form>


        </div>
    <div class="col-12 col-lg-5">
      <!-- <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='img/illustration.png') }}" alt="" />-->
    </div>
  </div>
  </section>
</main>
{% endblock %}